@font-face {
    font-family: "HelveticaNeueLTProLt";
    src:
        url(../fonts/HelveticaNeueLTProLt.otf) format("opentype");
}

@font-face {
    font-family: "HelveticaNeueLTProMd";
    src:
        url(../fonts/HelveticaNeueLTProMd.otf) format("opentype");
}

@font-face {
    font-family: "HelveticaNeueLTProRoman";
    src:
        url(../fonts/HelveticaNeueLTProRoman.otf) format("opentype");
}

@font-face {
    font-family: "Merriweather-LightItalic";
    src:
        url(../fonts/Merriweather-LightItalic.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat-Light";
    src:
        url(../fonts/Montserrat-Light.ttf) format("truetype");
}

@font-face {
    font-family: "Montserrat-Regular";
    src:
        url(../fonts/Montserrat-Regular.ttf) format("truetype");
}

@font-face {
    font-family: "Roboto-Regular";
    src:
        url(../fonts/Roboto-Regular.ttf) format("truetype");
}

.menu__mobile {
    display: none;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.header {}

.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__item a {
    font-family: "Roboto-Regular";
    font-size: 13px;
    line-height: 17px;
    font-weight: 400;
    letter-spacing: 0.04em;
    color: #989696;
    text-decoration: none;
    margin-right: 43px;
}

.menu__item:last-child a {
    margin-right: 0;
}

.active {}

.logo {
    margin: 0 16px;
}

.header__content {
    text-align: center;
}

.header__titile {
    font-family: "HelveticaNeueLTProLt";
    font-size: 44px;
    line-height: 41px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #1d1e1f;
    margin: 207px auto 4px;
}

.header__text {
    font-family: "Merriweather-LightItalic", serif;
    font-size: 16px;
    line-height: 17px;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 0.03em;
    color: #898888;
    margin: 0 auto 43px;
}

.header__button {
    font-family: "Montserrat-Regular";
    font-size: 13px;
    line-height: 17px;
    font-weight: 400;
    letter-spacing: 0.04em;
    color: #000000;
    text-decoration: none;
    width: 188px;
    height: 57px;
    border: 1px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 206px;
}

.about {
    /* height: 1129px; */
    padding-top: 128px;
    padding-bottom: 271px;
    background: url(../img/buildings.png) center 101% repeat-x, #1d1d1d;
    /* background-size: contain; */
}

.about__inner {
    display: grid;
    grid-template-columns: max-content max-content;
    grid-template-rows: max-content max-content;
    grid-gap: 178px;
    place-content: center center;
}

.about__item {
    width: 417px;
    height: 276px;
    background-color: #181818;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.about__year {
    font-family: "HelveticaNeueLTProLt", sans-serif;
    font-size: 48px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #fefefe;
    margin-bottom: 27px;
}

.about__text {
    font-family: "Montserrat-Light";
    font-size: 15px;
    line-height: 22px;
    font-weight: 300;
    letter-spacing: 0.02em;
    color: #b7b7b7;
}

.team {
    height: 745px;
    padding-top: 138px;
    margin-bottom: 150px;
}

.block__head {
    text-align: center;
    margin-bottom: 131px;
}

.block__title {
    font-family: "HelveticaNeueLTProLt", sans-serif;
    font-size: 34px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #1d1e1f;
    margin-bottom: 13px;
}

.block__text {
    font-family: "Merriweather-LightItalic", sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 0.02em;
    color: #898888;
    margin: 0;
}

.team__inner {
    display: flex;
    justify-content: space-between;
}

.team__item {
    text-align: center;
}

.team__img {
    margin-bottom: 25px;
}

.team__title {
    font-family: "HelveticaNeueLTProLt", sans-serif;
    font-size: 24px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #464646;
    margin: 0;
    margin-bottom: 7px;
}

.team__text {
    font-family: "HelveticaNeueLTProLt", sans-serif;
    font-size: 13px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #b3b3b3;
    margin: 0;
    margin-bottom: 22px;
}

/* .icons {

} */

.icon {
    width: 21px;
    height: 21px;
    border: none;
    margin-right: 14px;
    background-color: #e4e4e4;
}

.icon-twitter {
    background-image: url(../img/icon1.svg);
}

.icon-inst {
    background-image: url(../img/icon2.svg);
}

.services {
    background-color: #181818;
    padding-top: 156px;
    padding-bottom: 155px;
}

.services__head {
    text-align: center;
    margin-bottom: 138px;
}

.services__head-title {
    font-family: "HelveticaNeueLTProLt";
    font-size: 34px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.services__head-text {
    font-family: "Merriweather-LightItalic";
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    font-style: italic;
    letter-spacing: 0.02em;
    color: #777777;
}


.services__inner {
    display: flex;
    justify-content: space-between;
}

.services__item {
    max-width: 335px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services__icon {
    background-image: url(../img/ellipse.png);
    width: 172px;
    height: 172px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.services__icon1 {
    background-image: url(../img/line_graph.png);
    width: 64px;
    height: 54px;
}

.services__icon2 {
    background-image: url(../img/heart.png);
    width: 73px;
    height: 63px;
}

.services__icon3 {
    background-image: url(../img/cloud.png);
    width: 64px;
    height: 55px;
}


.services__title {
    font-family: "HelveticaNeueLTProLt", sans-serif;
    font-size: 26px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.services__text {
    font-family: "HelveticaNeueLTProLt", sans-serif;
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #383838;
    text-align: center;
}

.contact {
    padding-top: 95px;
    padding-bottom: 154px;
}

.contact__head {
    margin-bottom: 64px;
}

.contact__inner {}

.contact__icon-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 153px;
}

.contact__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 130px;
}

.contact__icon {
    margin-bottom: 12px;
}

.contact__icon1 {
    width: 14px;
    height: 21px;
    background-image: url(../img/phone.png);
}

.contact__icon2 {
    width: 16px;
    height: 21px;
    background-image: url(../img/pin.png);
}

.contact__icon3 {
    width: 19px;
    height: 13px;
    background-image: url(../img/mail.png);

}

.contact__text {
    font-family: "HelveticaNeueLTProLt";
    font-size: 12px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #898888;
    text-decoration: none;
    transition: 0.3s;
}

.contact__text a {
    text-decoration: none;
    color: #898888;
    transition: 0.3s;
}

.contact__text:hover a {
    color: #000000;
    text-decoration: underline;
}

.contact__form {
    width: 770px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;

}

.contact__input {
    margin-bottom: 20px;
    height: 52px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "HelveticaNeueLTProLt";
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #898888;
    padding-left: 25px;
    border: 1px solid #999999;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.contact__area {
    margin-bottom: 20px;
    padding-left: 25px;
    height: 195px;
    font-family: "HelveticaNeueLTProLt";
    font-size: 15px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #898888;
    border: 1px solid #999999;
    resize: none;
}

.contact__btn {
    background-color: #161616;
    font-family: "HelveticaNeueLTProMd";
    font-size: 17px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #fefefe;
    height: 52px;
    cursor: pointer;
}


.footer {}

.footer__copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "HelveticaNeueLTProMd";
    font-size: 14px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 0.02em;
    color: #3b3b3b;
}

/* media */

@media screen and (max-width: 769px) {
    .container {
        width: 768px;
    }

    .about__inner {
        grid-gap: 30px;
        grid-template-columns: max-content;

    }

    .about {
        height: auto;
        padding-bottom: 200px;
    }

    .team .block__title {
        padding-top: 100px;
    }

    .services {
        padding-top: 50px;
        padding-bottom: 100px;
    }

    .services__inner {
        flex-wrap: wrap;
        justify-content: center;
    }

    .services__item {
        width: 300px;
        margin-bottom: 40px;
        /* margin-right: 40px; */

    }


    .contact {
        padding-bottom: 30px;
    }

}

@media screen and (max-width: 376px) {
    .menu__desktop {
        display: none;
    }

    .container {
        width: 376px;
    }

    .menu__mobile {
        display: flex;
        /* justify-content: space-between;
        align-items: center; */
        flex-direction: column;
    }

    .menu__inner {
        display: flex;
        justify-content: space-between;
    }

    .menu__burger {
        display: block;
        overflow: hidden;
        padding: 0;
        margin: 0;
        width: 40px;
        height: 40px;
        font-size: 0;
        background-color: #000000;
        position: relative;
        border-radius: 5px;
    }

    .menu__burger span {
        display: block;
        position: absolute;
        background-color: #fff;
        height: 4px;
        width: 30px;
        top: 18px;
        left: 5px;
        right: 5px;
        transition: background 0s 0.3s;
    }

    .menu__burger span:after,
    .menu__burger span:before {
        position: absolute;
        display: block;
        height: 4px;
        width: 100%;
        background-color: #fff;
        content: '';
        transition-duration: 0.3s, 0.3s;
        transition-delay: 0.3s, 0s;
    }

    .menu__burger span:after {
        top: -10px;
    }

    .menu__burger span:before {
        bottom: -10px;
    }

    .menu__burger.close span {
        background: none;
    }

    .menu__burger.close span:after {
        top: 0px;
        transform: rotate(45deg);
    }

    .menu__burger.close span:before {
        bottom: 0px;
        transform: rotate(-45deg);
    }

    .menu {
        display: none;
        text-align: center;
    }

    .menu a {
        margin: 0;

    }

    .menu li {
        padding: 10px 0;
    }

    .logo {
        margin: 0;
    }

    .header__titile {
        padding-top: 0;
        margin-bottom: 30px;
        margin: 100px auto 20px;
    }

    .header__button {
        margin: 0 auto 50px;
    }

    .about__item {
        width: 340px;
    }

    .team__inner {
        flex-direction: column;
        width: 340px;
    }

    .team {
        height: auto;
        padding-top: 0;
        margin-bottom: 0;
    }

    .team__item {
        margin-bottom: 50px;
    }

    .team .block__title {
        padding-top: 50px;
    }

    .contact__form {
        width: auto;
    }

    .contact__icon-box {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 50px;
        flex-direction: row;
        flex-wrap: wrap;
    }

}